/* Block Quotes */
.rm-bq {
    background-color: var(--sidebar);
    border-left: 15px solid var(--athena-blue);
    font-style: italic;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 25px -10px;
}