/* Body styles */

.block-highlight-grey {
  background-color: var(--block-highlight__background-color_selected);
  margin: 1px 1px;
}

.block-highlight-blue {
  background-color: var(--block-highlight__background-color_selected);
  margin: 1px 1px;
}

.block-highlight-yellow {
  background-color: var(--block-highlight__background-color_mentions);
  margin: 1px 1px;
}
